@import url(https://fonts.googleapis.com/css?family=Roboto:500,700,400,300);

body {
  font-family: 'Roboto', sans-serif;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(29,74,137)), to(rgb(120,164,199)));
  background-image: -webkit-linear-gradient(left top, rgb(29,74,137), rgb(120,164,199));
  background-image: -moz-linear-gradient(left top, rgb(29,74,137), rgb(120,164,199));
  background-image: -o-linear-gradient(left top, rgb(29,74,137), rgb(120,164,199));
  background-image: -ms-linear-gradient(left top, rgb(29,74,137), rgb(120,164,199));
  background-image: linear-gradient(left top, rgb(29,74,137), rgb(120,164,199));
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  color: #666;
}

ul {
  list-style: none;
  padding-left: 0px
}

ul li {
  display: inline;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
}

.logo a {
  color: #FFF;
  font-weight: 700;
}

.page-conteiner {
  width: 100%;
  height: 100%;
}

.page-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.box {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 67vh;
}

.box-profile {
  background-color: #FFF !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  max-width: 620px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
}

.profile-picture {
  margin: 0 auto;
}

.profile-picture .image {
  border-radius: 50%;
  margin-top: -60px;
  width: 120px;
  height: 120px;
}

.profile-header h1 {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.profile-job h2 {
  font-size: 16px;
  font-weight: 500;
}

.profile-job a {
  color: #fa5868;
  font-weight: 700;
}

.profile-links {
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-links ul li {
  margin-left: 10px;
}

.profile-links a {
  border: 1px solid rgb(120,164,199);
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(120,164,199);
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
}

.profile-links a:hover {
  border: 1px solid rgb(29,74,137);
  background-color: rgb(29,74,137);
}

.profile-local h3 {
  font-size: 14px;
  font-weight: 400;
}

.separator {
  margin-left: -20px;
  margin-right: -20px;
  border: 1px solid rgba(102, 102, 102, 0.09);;
}

.profile-skils {
  margin-top: -15px;
}

.profile-skils ul li {
  font-weight: 300;
  color: #666;
  margin-left: 15px;
  font-size: 13px;
}

@media (max-width: 480px) {
  .profile-header h1 {
    font-size: 16px;
  }

  .profile-job h2 {
    font-size: 14px;
  }

  .profile-links a {
    font-size: 12px;
  }

  .profile-links ul li {
    margin-left: 5px;
  }

  .profile-local h3 {
    font-size: 11px;
  }

  .profile-skils ul li {
    font-size: 11px;
  }

  .profile-picture .image {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }

}

@media print, screen and (max-width: 960px) {

}

@media print, screen and (max-width: 720px) {
}

@media print, screen and (max-width: 480px) {
}

@media print {
}
